.border-box {
  box-sizing: border-box;
}
.calendar {
  float: left;
  display: block;
  box-sizing: border-box;
  background: white;
  width: 95%;
  border: solid 1px #CCC;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.calendar > .header {
  height: 50px;
  background: #2875C7;
}
.calendar > .header > * {
  font-size: 1.5em;
  color: white;
  height: 45px;
  line-height: 45px !important;
  display: inline-block;
  vertical-align: middle;
}
.calendar > .header > i {
  float: left;
  width: 15%;
  margin: 0;
}
.calendar > .header > i:hover {
  color: #D2D7D3;
  cursor: pointer;
}
.calendar > .header > span {
  float: left;
  width: 70%;
  text-align: center;
  margin: 0;
}
.calendar > div.week {
  float: left;
  width: 100%;
  border-top: solid 1px #CCC;
}
.calendar > div.week:first-child {
  border-top: none;
}
.calendar > div.week > span.day {
  float: left;
  width: 14.28571429%;
  box-sizing: border-box;
  border-left: solid 1px #CCC;
  font-size: 0.75em;
  text-align: left;
  height: 66px;
  padding-left: 5px;
  padding-top: 5px;
  background: white;
  cursor: pointer;
  color: black;
}
.calendar > div.week > span.day:first-child {
  border-left: none;
}
.calendar > div.week > span.day.today {
  background: #E3F2FF;
}
.calendar > div.week > span.day.different-month {
  color: #C0C0C0;
}
.calendar > div.week > span.day.selected {
  background: #2875C7;
  color: white;
}
.calendar > div.week.names > span {
  color: #2875C7;
  font-weight: bold;
}

