.stock-ticker-item {
  display: inline;
  margin-right: 15px;
  font-size: 1.3em;
}

.stock-ticker-item > span {
  margin-right: 5px;
}

.stock-ticker-item > .sti-change-positive {
  color: #00FF00;
}

.stock-ticker-item > .sti-change-negative {
  color: #FF0000;
}